.accordion-button {
    color: black !important;
    font-weight: normal !important;
    border: 1px solid #f9e389;
    box-shadow: none !important;
    padding: 6px 12px !important;
    font-size: 0.85rem !important;
    height: 35px !important;
    display: flex;
    align-items: center;
    
  
    &::after {
      margin-left: 8px !important;
      transform: scale(0.85);
    }
  
    &:not(.collapsed) {
      background: rgba(249, 227, 137, 0.7) !important;
      color: black !important;
    }
  
    &.collapsed {
      min-height: 35px !important;
    }
  }
  
  .accordion-item {
    border: none !important;
  }

  .accordion-body {
    border: 1px solid #f9e389;
    border-radius: 0px 0px 6px 6px;
}
  
  .filters-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    
  
    .filter-category {
      width: 100%;
      margin-bottom: 10px;
  
      h6 {
        color: black;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: left;
      }
  
      .filter-options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
  
        .form-check-input {
          border-color: black !important;
          cursor: pointer;
          width: 16px;
          height: 16px;
  
          &:checked {
            background-color: #f9e389 !important;
            border-color: black !important;
          }
        }
  
        .form-check-label {
          margin-left: 5px;
          font-size: 0.95rem;
          color: black;
        }
      }
    }
  }
  
  .clear-filters-button {
    background: #f9e389;
    color: black;
    border: none;
    margin-top: 10px;
    font-size: 0.85rem;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      background: black;
      color: #f9e389;
    }
  }
  